@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap');
body {
    background-color: #151515;;
    margin: 0px;
}

nav {
    display: flex;
    padding: 0px 30px;
    background-color: black;
    align-items: center;
    justify-content: center;
    /* min-height: 110px;
    /* position: fixed;
    top: 0%;
    width: 100%; */
}

#Items_Left {
    display: flex;
    min-width: 470px;
    height: inherit;
}

#Items_Right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 824px
}

#NavBarLogo {
    padding: 10px 0px;
}

#Center_space_Empty {
    min-height: 110px;
    min-width: 105.44px;
}

#NavBarText {
    display: flex;
}

#NavBarText a {
    display:flex;
    color:#F0F0F0;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
    font-weight: 550;
    padding: 0px 17px;
    font-size: 15px;
    height: 110px;
    align-items: center;
    transition: 0.5s;
}

#NavBarText a:hover {
    color: #e7292a;
}

i {
    color: #DDDDDD;
    padding: 3px;
    margin-right: 2px;
    transition: 0.5s;  
}

i:hover {
    color: #e7292a;
}

#Social_Logos {
    margin-left: 18px; 
}

#Search_Icon {
    margin-left: 10px;
}

#Home_Text a{
    color: #e7292a;
}

#Way_of_Water_Image {
    margin: 35px 60px;
    position: relative;
    margin-bottom: 87px;
}

#Way_of_Water_Image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

#Gradient_Under {
    position: absolute;
    z-index: 5;
}

#Gradient {
    position:absolute;
    z-index: 5;
    opacity: 0;
    transition: 0.5s;
}

#Gradient:hover {
    opacity: 1;
}

#Image_Texts {
    position: absolute;
    bottom: 0;
    margin: 30px;
    color: white;
    font-family: 'Public Sans', sans-serif;
    z-index: 10;
}

#Image_Texts h1 {
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0 10px 0;
}

.Img_Text_Boxes {
    background: #e7292a;
    color: white;
    font-size: 11px;
    padding: 8px 10px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
}

#Bottom_Images_All {
    display: flex;
    flex-direction: row;
    margin: 60px 60px 5px 60px;
    transition:0.5s;
}

#Bottom_Images_Left {
    display:inline-flexbox;
    width: 442px;
}

#Bottom_Images_Right {
    margin-left: 35px;
    display: inline;
    width: 442px;
}

#Ignacio_Margin_Bellow {
    margin-bottom: 59px;
}

#Sung_Choi_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Sung_Choi_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Sung_Choi_Cover:hover{
    opacity: 80%;
}

#Hethe_Srodawa_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Hethe_Srodawa_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Hethe_Srodawa_Cover:hover{
    opacity: 80%;
}

#Kai_Carpenter_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Kai_Carpenter_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Kai_Carpenter_Cover:hover{
    opacity: 80%;
}

#Takeshi_Oga_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Takeshi_Oga_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Takeshi_Oga_Cover:hover{
    opacity: 80%;
}

#Art_Of_Assassins_Creed_V_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Art_of_Assassins_Creed_Valhalla_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Art_Of_Assassins_Creed_V_Cover:hover{
    opacity: 80%;
}


#Mitchell_Mohrhauser_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Mitchell_Mohrhauser_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Mitchell_Mohrhauser_Cover:hover{
    opacity: 80%;
}

#Ignacio_Bazan_Lazcano_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Ignacio_Bazan_Lazcano_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Ignacio_Bazan_Lazcano_Cover:hover{
    opacity: 80%;
}

#Art_Of_StarWars_Mandalorian_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Mandalorian_S1_Art_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Art_Of_StarWars_Mandalorian_Cover:hover{
    opacity: 80%;
}

#Lyn_Hye_Ryoung_Yang_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Lynn_Yang_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Lyn_Hye_Ryoung_Yang_Cover:hover{
    opacity: 80%;
}

#John_Libertov_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/John_Liberto_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#John_Libertov_Cover:hover{
    opacity: 80%;
}

#Nick_Gindraux_Mandalorian_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Nick_Gindraux_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Nick_Gindraux_Mandalorian_Cover:hover{
    opacity: 80%;
}

#Konstantin_Maystrenko_Cover {
    height: 248.99px;
    width: 442.66px;
    background-image: url(./Images/Konstantin_Maystrenko_Cover.jpg);
    background-position: center;
    background-size: cover;
    transition:0.5s;
}

#Konstantin_Maystrenko_Cover:hover{
    opacity: 80%;
}


.Sub_Head_Title {
    font-family: 'Public Sans', sans-serif;
    font-weight: 800;
    font-stretch: narrower;
    color: #ECECEC;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

.Sub_Head_Title:hover {
    color:#e7292a;
}

.Sub_Head_Text {
    font-family: 'Public Sans', sans-serif;
    color: #CCCCCC;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 35px;
}

#Bottom_Images_All .Img_Text_Boxes {
    margin: 10px;
    position:absolute;
    margin-top: 211px;
}

.Bottom_Images_Title_Margin {
    margin-bottom: 20px;
}

#Page_Selection_Buttons {
    margin-bottom: 100px;
}

#Buttons {
    display: flex;
    color: #CCCCCC;
    flex-direction: row;
    margin-left: 65px;
    align-items: center;
}

#One button{
    margin-right: 7px;
    background-color: #e7292a;
    color: #F0F0F0;
    padding: 5px 8px 5px 8px;
    font-family: 'Public Sans', sans-serif;
    border-radius: 2px;
    border-color: transparent;
    font-size: 13px;
}

#Two button{
    margin-right: 7px;
    background-color: #151515;
    color: #F0F0F0;
    padding: 5px 9px 5px 9px;
    font-family: 'Public Sans', sans-serif;
    border-radius: 2px;
    border: 1px solid #222;
    font-size: 13px;
    transition: 0.5s;
}

#Two button:hover {
    background-color: #e7292a;
    border: 1px solid transparent;
}

#Three button{
    margin-right: 7px;
    background-color: #151515;
    color: #F0F0F0;
    padding: 5px 9px 5px 9px;
    font-family: 'Public Sans', sans-serif;
    border-radius: 2px;
    border: 1px solid #222;
    font-size: 13px;
    transition: 0.5s;
}

#Three button:hover {
    background-color: #e7292a;
    border: 1px solid transparent;
}

#One_Three_Six button{
    margin-right: 7px;
    margin-left: 7px;
    background-color: #151515;
    color: #F0F0F0;
    padding: 5px 9px 5px 9px;
    font-family: 'Public Sans', sans-serif;
    border-radius: 2px;
    border: 1px solid #222;
    font-size: 13px;
    transition: 0.5s;
}

#One_Three_Six button:hover {
    background-color: #e7292a;
    border: 1px solid transparent;
}

#Arrow button{
    background-color: #151515;
    color: #F0F0F0;
    padding: 5px 9px 5px 9px;
    font-family: 'Public Sans', sans-serif;
    border-radius: 2px;
    border: 1px solid #222;
    font-size: 13px;
    transition: 0.5s;
}

#Arrow button:hover {
    background-color: #e7292a;
    border: 1px solid transparent;
}

#Footer_Box {
    display: flex;
    background-color: #040404;
    align-items: center;
    justify-content: center;
    height: 215.5px;
    flex-direction: column;
}

#Copywrite_Txt {
    color: #777777;
    font-size: 13px;
    font-family: 'Public Sans', sans-serif;
}

#Footer_Social_Orbs i {
    color: #ffffff;
    transition: 0.5s;
}

#Footer_Social_Orbs i:hover{
    color: #e7292a;
}

.Orb {
    background-color: #222;
    border-radius: 50%;
    border: transparent;
    margin: 3px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 25px;
}